<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />


  <title>{{title}}</title>
</head>

<body>

  <nav> InternshipGH </nav>
  <div class="about">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint qui laboriosam aperiam dolorum earum beatae iure, harum rerum
    asperiores quo porro sapiente rem animi, non tempore voluptatibus dolor adipisci quas!
  </div>
  <div class="row">
    {{#each offers}}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{description}}</p>
        <a href="{{link}}" class="btn">Read More</a>
      </div>
    </div>

    {{/each}}
  </div>
</body>

</html>
