* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.card {
  outline: 1px solid red;
  width: 350px;
  height: 200px;
  margin: 10px;
  position: relative;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
